Lets Begin

In [10]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import text


engine = create_engine("mysql+pymysql://root:Harman%40123@localhost/Datasets")


def run_query(query):
    """
    Run a SELECT query and return results as a pandas DataFrame
    """
    return pd.read_sql(query, engine)


def run_command(query):
    """
    Execute INSERT/UPDATE/DELETE/CREATE queries using SQLAlchemy
    """
    with engine.begin() as conn:  # begin() automatically handles commit
        conn.execute(text(query))  # wrap query in text()
        print("Query executed successfully!")

In [11]:
run_query("SHOW DATABASES")

             Database
0            Datasets
1               inato
2  information_schema
3               mysql
4  performance_schema
5                 sys