In [2]:
import pandas as pd
from sqlalchemy import create_engine, text
engine = create_engine("mysql+pymysql://root:Harman%40123@localhost/supplements")

In [3]:
def run_query(query):
    if query.strip().startswith("--sql"):
        query = "\n".join(query.splitlines()[1:])
    return pd.read_sql(query, engine)

def run_command(query):
    with engine.begin() as conn:
        if query.strip().startswith("--sql"):
            query = "\n".join(query.splitlines()[1:])
        conn.execute(text(query))
        print("Query Executed Succesfully")

In [133]:
df1 = pd.read_csv("product_info_v2.csv")
df2 = pd.read_csv("Supplement_Sales_Weekly_Expanded(1).csv")

df1["launch_date"] = pd.to_datetime(df1["launch_date"]).dt.date
df1.to_sql("product_info", con=engine, if_exists='replace', index=False)

df2 = pd.read_csv("Supplement_Sales_Weekly_Expanded(1).csv")

df2.columns = df2.columns.str.replace(" ", "_")

df2["Date"] = pd.to_datetime(df2["Date"]).dt.date
df2.to_sql("weekly_sales", con=engine, if_exists='replace', index=False)

print("Imported all columns automatically")

Imported all columns automatically

In [16]:
df1.info()
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   product_id      16 non-null     object
 1   product_name    16 non-null     object
 2   category        16 non-null     object
 3   supplier_name   16 non-null     object
 4   origin_country  16 non-null     object
 5   unit_cost       16 non-null     float64
 6   rating          16 non-null     float64
 7   launch_date     16 non-null     object
 8   is_active       16 non-null     object
dtypes: float64(2), object(7)
memory usage: 1.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4384 entries, 0 to 4383
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            4384 non-null   object
 1   Product_Name    4384 non-null   object
 2   Category        4384 non-null   object
 3   Units_Sold      4384 non-null   int64
 4   Price           4384 non-null   float64
 5   Revenue         4384 non-null   float64
 6   Discount        4384 non-null   float64
 7   Units_Returned  4384 non-null   int64
 8   Location        4384 non-null   object
 9   Platform        4384 non-null   object
dtypes: float64(3), int64(2), object(5)
memory usage: 342.6+ KB

In [19]:
df1.head(5)

,product_id,product_name,category,supplier_name,origin_country,unit_cost,rating,launch_date,is_active
0,P001,Whey Protein,Protein,WellnessPro,India,20.38,4.18,2021-05-28,Yes
1,P002,Vitamin C,Vitamin,NutriMax Labs,India,22.10,4.82,2021-06-08,Yes
2,P003,Fish Oil,Omega,HealthCore Inc.,India,22.48,3.50,2020-02-21,Yes
3,P004,Multivitamin,Vitamin,VitaPlus Nutrition,Australia,8.31,3.97,2019-10-08,No
4,P005,Pre-Workout,Performance,VitaPlus Nutrition,Australia,11.78,4.65,2018-07-04,No

In [132]:
df2.head(20)

,Date,Product_Name,Category,Units_Sold,Price,Revenue,Discount,Units_Returned,Location,Platform
0,2020-01-06,Whey Protein,Protein,143,31.98,4573.14,0.03,2,Canada,Walmart
1,2020-01-06,Vitamin C,Vitamin,139,42.51,5908.89,0.04,0,UK,Amazon
2,2020-01-06,Fish Oil,Omega,161,12.91,2078.51,0.25,0,Canada,Amazon
3,2020-01-06,Multivitamin,Vitamin,140,16.07,2249.80,0.08,0,Canada,Walmart
4,2020-01-06,Pre-Workout,Performance,157,35.47,5568.79,0.25,3,Canada,iHerb
5,2020-01-06,BCAA,Amino Acid,154,41.19,6343.26,0.13,1,UK,Walmart
6,2020-01-06,Creatine,Performance,134,32.49,4353.66,0.05,1,UK,Walmart
7,2020-01-06,Zinc,Mineral,147,46.68,6861.96,0.19,0,Canada,Amazon
8,2020-01-06,Collagen Peptides,Protein,147,10.96,1611.12,0.06,2,USA,Amazon
9,2020-01-06,Magnesium,Mineral,134,20.76,2781.84,0.00,0,Canada,Amazon
10,2020-01-06,Ashwagandha,Herbal,181,15.49,2803.69,0.14,1,USA,Amazon
11,2020-01-06,Melatonin,Sleep Aid,164,34.41,5643.24,0.04,1,USA,Walmart
12,2020-01-06,Biotin,Vitamin,159,28.79,4577.61,0.10,1,UK,iHerb
13,2020-01-06,Green Tea Extract,Fat Burner,143,31.88,4558.84,0.06,3,UK,Walmart
14,2020-01-06,Iron Supplement,Mineral,149,42.97,6402.53,0.22,2,Canada,iHerb
15,2020-01-06,Electrolyte Powder,Hydration,154,35.92,5531.68,0.04,2,USA,Amazon
16,2020-01-13,Whey Protein,Protein,150,12.08,1812.00,0.02,2,UK,Amazon
17,2020-01-13,Vitamin C,Vitamin,128,10.61,1358.08,0.24,2,USA,Amazon
18,2020-01-13,Fish Oil,Omega,145,27.49,3986.05,0.19,2,USA,Walmart
19,2020-01-13,Multivitamin,Vitamin,137,14.92,2044.04,0.17,2,USA,Amazon

In [28]:
run_query(
"""--sql
select product_name
from weekly_sales
where location = "Canada"
""")

         product_name
0        Whey Protein
1            Fish Oil
2        Multivitamin
3         Pre-Workout
4                Zinc
...               ...
1502      Pre-Workout
1503         Creatine
1504             Zinc
1505      Ashwagandha
1506  Iron Supplement

[1507 rows x 1 columns]

In [37]:
# 2. Find all sales where the discount is more than 10%.
run_query(
"""--sql
select product_name, units_sold, discount
from weekly_sales
where discount > 0.1
""")

            product_name  units_sold  discount
0               Fish Oil         161      0.25
1            Pre-Workout         157      0.25
2                   BCAA         154      0.13
3                   Zinc         147      0.19
4            Ashwagandha         181      0.14
...                  ...         ...       ...
2498           Melatonin         160      0.21
2499              Biotin         154      0.22
2500   Green Tea Extract         139      0.12
2501     Iron Supplement         154      0.23
2502  Electrolyte Powder         178      0.23

[2503 rows x 3 columns]

In [38]:
# 3. Show sales for products in category = 'Protein'.
run_query(
"""--sql
select *
from weekly_sales
where category = 'Protein'
""")

,Date,Product_Name,Category,Units_Sold,Price,Revenue,Discount,Units_Returned,Location,Platform
0,2020-01-06,Whey Protein,Protein,143,31.98,4573.14,0.03,2,Canada,Walmart
1,2020-01-06,Collagen Peptides,Protein,147,10.96,1611.12,0.06,2,USA,Amazon
2,2020-01-13,Whey Protein,Protein,150,12.08,1812.00,0.02,2,UK,Amazon
3,2020-01-13,Collagen Peptides,Protein,134,56.40,7557.60,0.06,1,Canada,iHerb
4,2020-01-20,Whey Protein,Protein,157,41.81,6564.17,0.19,0,USA,Walmart
...,...,...,...,...,...,...,...,...,...,...
543,2025-03-17,Collagen Peptides,Protein,158,17.22,2720.76,0.15,0,UK,Amazon
544,2025-03-24,Whey Protein,Protein,158,18.50,2923.00,0.02,0,UK,Amazon
545,2025-03-24,Collagen Peptides,Protein,144,46.39,6680.16,0.10,3,Canada,iHerb
546,2025-03-31,Whey Protein,Protein,148,15.17,2245.16,0.07,1,UK,Amazon
547,2025-03-31,Collagen Peptides,Protein,146,52.79,7707.34,0.13,1,USA,Amazon

In [39]:
# 4. Retrieve the top 5 highest-priced products.
run_query(
"""--sql
select *
from weekly_sales
order by price desc
limit 5
""")

,Date,Product_Name,Category,Units_Sold,Price,Revenue,Discount,Units_Returned,Location,Platform
0,2020-11-30,Biotin,Vitamin,141,59.97,8455.77,0.05,1,Canada,iHerb
1,2021-02-22,Pre-Workout,Performance,164,59.96,9833.44,0.07,1,UK,Walmart
2,2024-01-01,Pre-Workout,Performance,152,59.96,9113.92,0.15,2,Canada,iHerb
3,2023-09-25,Zinc,Mineral,162,59.95,9711.90,0.17,0,UK,iHerb
4,2021-09-27,Zinc,Mineral,152,59.93,9109.36,0.06,2,UK,Amazon

In [40]:
# 5. Find records where units_returned = 0.
run_query(
"""--sql
select *
from weekly_sales
where units_returned = 0
""")

,Date,Product_Name,Category,Units_Sold,Price,Revenue,Discount,Units_Returned,Location,Platform
0,2020-01-06,Vitamin C,Vitamin,139,42.51,5908.89,0.04,0,UK,Amazon
1,2020-01-06,Fish Oil,Omega,161,12.91,2078.51,0.25,0,Canada,Amazon
2,2020-01-06,Multivitamin,Vitamin,140,16.07,2249.80,0.08,0,Canada,Walmart
3,2020-01-06,Zinc,Mineral,147,46.68,6861.96,0.19,0,Canada,Amazon
4,2020-01-06,Magnesium,Mineral,134,20.76,2781.84,0.00,0,Canada,Amazon
...,...,...,...,...,...,...,...,...,...,...
981,2025-03-24,Iron Supplement,Mineral,167,53.89,8999.63,0.20,0,USA,Amazon
982,2025-03-31,Multivitamin,Vitamin,154,10.88,1675.52,0.02,0,Canada,Amazon
983,2025-03-31,BCAA,Amino Acid,153,23.89,3655.17,0.24,0,UK,Amazon
984,2025-03-31,Creatine,Performance,174,35.63,6199.62,0.03,0,Canada,Amazon
985,2025-03-31,Electrolyte Powder,Hydration,178,39.12,6963.36,0.23,0,UK,iHerb

In [41]:
# 6. List distinct locations where sales happened.
run_query(
"""--sql
select distinct location
from weekly_sales
""")

  location
0   Canada
1       UK
2      USA

In [43]:
# 7. Filter all sales from the platform "Amazon".
run_query(
"""--sql
select *
from weekly_sales
where platform = 'Amazon'
""")

,Date,Product_Name,Category,Units_Sold,Price,Revenue,Discount,Units_Returned,Location,Platform
0,2020-01-06,Vitamin C,Vitamin,139,42.51,5908.89,0.04,0,UK,Amazon
1,2020-01-06,Fish Oil,Omega,161,12.91,2078.51,0.25,0,Canada,Amazon
2,2020-01-06,Zinc,Mineral,147,46.68,6861.96,0.19,0,Canada,Amazon
3,2020-01-06,Collagen Peptides,Protein,147,10.96,1611.12,0.06,2,USA,Amazon
4,2020-01-06,Magnesium,Mineral,134,20.76,2781.84,0.00,0,Canada,Amazon
...,...,...,...,...,...,...,...,...,...,...
1468,2025-03-31,BCAA,Amino Acid,153,23.89,3655.17,0.24,0,UK,Amazon
1469,2025-03-31,Creatine,Performance,174,35.63,6199.62,0.03,0,Canada,Amazon
1470,2025-03-31,Collagen Peptides,Protein,146,52.79,7707.34,0.13,1,USA,Amazon
1471,2025-03-31,Ashwagandha,Herbal,145,58.08,8421.60,0.24,2,Canada,Amazon
1472,2025-03-31,Iron Supplement,Mineral,154,18.31,2819.74,0.23,2,Canada,Amazon

In [44]:
# 8. Get the first 10 rows of the table.
run_query(
"""--sql
select * 
from weekly_sales
limit 10
""")

,Date,Product_Name,Category,Units_Sold,Price,Revenue,Discount,Units_Returned,Location,Platform
0,2020-01-06,Whey Protein,Protein,143,31.98,4573.14,0.03,2,Canada,Walmart
1,2020-01-06,Vitamin C,Vitamin,139,42.51,5908.89,0.04,0,UK,Amazon
2,2020-01-06,Fish Oil,Omega,161,12.91,2078.51,0.25,0,Canada,Amazon
3,2020-01-06,Multivitamin,Vitamin,140,16.07,2249.80,0.08,0,Canada,Walmart
4,2020-01-06,Pre-Workout,Performance,157,35.47,5568.79,0.25,3,Canada,iHerb
5,2020-01-06,BCAA,Amino Acid,154,41.19,6343.26,0.13,1,UK,Walmart
6,2020-01-06,Creatine,Performance,134,32.49,4353.66,0.05,1,UK,Walmart
7,2020-01-06,Zinc,Mineral,147,46.68,6861.96,0.19,0,Canada,Amazon
8,2020-01-06,Collagen Peptides,Protein,147,10.96,1611.12,0.06,2,USA,Amazon
9,2020-01-06,Magnesium,Mineral,134,20.76,2781.84,0.00,0,Canada,Amazon

In [45]:
# 9. Calculate total revenue from all sales.
run_query(
"""--sql
select sum(revenue)
from weekly_sales
""")

   sum(revenue)
0   22913280.45

In [47]:
# 10. Count total units sold per product.
run_query(
"""--sql
select product_name, sum(units_sold) as total_units
from weekly_sales
group by product_name
""")

          product_name  total_units
0         Whey Protein      41264.0
1            Vitamin C      40727.0
2             Fish Oil      41325.0
3         Multivitamin      41174.0
4          Pre-Workout      41287.0
5                 BCAA      41027.0
6             Creatine      41236.0
7                 Zinc      41204.0
8    Collagen Peptides      40856.0
9            Magnesium      41270.0
10         Ashwagandha      41408.0
11           Melatonin      41165.0
12              Biotin      41533.0
13   Green Tea Extract      40743.0
14     Iron Supplement      41194.0
15  Electrolyte Powder      41065.0

In [49]:
# 11. Get average discount per category.
run_query(
"""--sql
select category, avg(discount) as Avg_Discount
from weekly_sales
group by category
""")

      category  Avg_Discount
0      Protein      0.121515
1      Vitamin      0.125389
2        Omega      0.128905
3  Performance      0.122737
4   Amino Acid      0.121642
5      Mineral      0.126557
6       Herbal      0.126241
7    Sleep Aid      0.124489
8   Fat Burner      0.125657
9    Hydration      0.119088

In [55]:
# 12. Find the product with maximum revenue.

run_query(
"""--sql
select product_name, sum(revenue) as total_revenue
from weekly_sales
group by product_name
order by total_revenue
limit 1
""")

  product_name  total_revenue
0    Magnesium     1361978.63

In [61]:
# 13. Find minimum price per category.
run_query(
"""--sql
select category, sum(price) as min_price
from weekly_sales
group by category
order by min_price
limit 1
""")

    category  min_price
0  Sleep Aid    9288.58

In [63]:
# 14. Compute total units returned grouped by platform.
run_query(
"""--sql
select platform, sum(units_returned) as total_units_returned
from weekly_sales
group by platform
""")

  platform  total_units_returned
0  Walmart                2128.0
1   Amazon                2295.0
2    iHerb                2291.0

In [65]:
# 15. Calculate average units sold per location.
run_query(
"""--sql
select location, avg(units_sold) as avg_units
from weekly_sales
group by location
""")

  location  avg_units
0   Canada   150.0020
1       UK   149.9912
2      USA   150.6334

In [83]:
# 16. Extract year + month from Date column.
run_query(
"""--sql
select year(date), group_concat(distinct month(date)) as which_months
from weekly_sales
group by year(date)
""")

   year(date)                which_months
0        2020  1,2,3,4,5,6,7,8,9,10,11,12
1        2021  1,2,3,4,5,6,7,8,9,10,11,12
2        2022  1,2,3,4,5,6,7,8,9,10,11,12
3        2023  1,2,3,4,5,6,7,8,9,10,11,12
4        2024  1,2,3,4,5,6,7,8,9,10,11,12
5        2025                       1,2,3

In [84]:
# 17. Group total revenue by month.
run_query(
"""--sql
select month(date), sum(revenue)
from weekly_sales
group by month(date)
""")

    month(date)  sum(revenue)
0             1    2171966.05
1             2    2073046.84
2             3    2271026.40
3             4    1685662.30
4             5    1920081.21
5             6    1826877.40
6             7    1849431.84
7             8    1925991.58
8             9    1782437.60
9            10    1816041.16
10           11    1750791.56
11           12    1839926.51

In [89]:
# 18. Find the day with highest total revenue.
run_query(
"""--sql
select day(date), sum(revenue) as total_revenue
from weekly_sales
group by day(date)
order by total_revenue desc
limit 1
""")

   day(date)  total_revenue
0         13      921124.95

In [93]:
# 19. Count number of sales per day.
run_query(
"""--sql
select day(date), count(*)
from weekly_sales
group by day(date)
""").head()

   day(date)  count(*)
0          6       176
1         13       176
2         20       176
3         27       176
4          3       160

In [175]:
# 20. Get the weekday with the most returns.
run_query(
"""--sql
select dayname(date), sum(units_returned) as total_units_returned
from weekly_sales
group by dayname(date)
order by total_units_returned desc
""")

  dayname(date)  total_units_returned
0        Monday                6714.0

In [ ]:
# 21. Create a running total of revenue by date (window function).
run_query(
"""--sql
select  date, product_name, revenue, sum(revenue) over(order by date rows between unbounded preceding and current row) as running_total
from weekly_sales
order by date
""")

            date        product_name  revenue  running_total
0     2020-01-06        Whey Protein  4573.14        4573.14
1     2020-01-06           Vitamin C  5908.89       10482.03
2     2020-01-06            Fish Oil  2078.51       12560.54
3     2020-01-06        Multivitamin  2249.80       14810.34
4     2020-01-06         Pre-Workout  5568.79       20379.13
...          ...                 ...      ...            ...
4379  2025-03-31           Melatonin  7646.40    22894791.27
4380  2025-03-31              Biotin  5870.48    22900661.75
4381  2025-03-31   Green Tea Extract  2835.60    22903497.35
4382  2025-03-31     Iron Supplement  2819.74    22906317.09
4383  2025-03-31  Electrolyte Powder  6963.36    22913280.45

[4384 rows x 4 columns]

In [180]:
# 22. Show categories having average price > 34.5.
run_query(
"""--sql
select category, avg(price)
from weekly_sales
group by category
having avg(price) > 34.5
""")

      category  avg(price)
0      Protein   34.752354
1      Vitamin   34.804282
2        Omega   35.059015
3  Performance   35.299197
4   Amino Acid   35.601715
5      Mineral   34.582968
6   Fat Burner   35.391022

In [188]:
# Rank products by revenue within each category.
run_query(
"""--sql
select  date, category, product_name, revenue, rank() over(partition by category order by revenue desc) as rnk
from weekly_sales
""")

            date    category  product_name   revenue  rnk
0     2020-06-22  Amino Acid          BCAA  10297.32    1
1     2023-01-23  Amino Acid          BCAA  10061.52    2
2     2020-03-02  Amino Acid          BCAA   9768.20    3
3     2021-09-06  Amino Acid          BCAA   9759.12    4
4     2022-02-07  Amino Acid          BCAA   9728.32    5
...          ...         ...           ...       ...  ...
4379  2022-09-05     Vitamin        Biotin   1437.48  818
4380  2020-02-17     Vitamin        Biotin   1428.92  819
4381  2020-01-13     Vitamin     Vitamin C   1358.08  820
4382  2021-02-01     Vitamin  Multivitamin   1354.50  821
4383  2020-12-21     Vitamin     Vitamin C   1284.00  822

[4384 rows x 5 columns]

In [ ]:
# 28. Show cumulative revenue for each product.
run_query(
"""--sql
select date, product_name, revenue, 
sum(revenue) over (partition by product_name order by date rows between unbounded preceding and current row) as cumulative_revenue
from weekly_sales
ORDER BY Product_Name, date;
""").head(10)

         date product_name  revenue  cumulative_revenue
0  2020-01-06  Ashwagandha  2803.69             2803.69
1  2020-01-13  Ashwagandha  7228.55            10032.24
2  2020-01-20  Ashwagandha  3664.44            13696.68
3  2020-01-27  Ashwagandha  5383.56            19080.24
4  2020-02-03  Ashwagandha  2593.35            21673.59
5  2020-02-10  Ashwagandha  4358.64            26032.23
6  2020-02-17  Ashwagandha  4740.42            30772.65
7  2020-02-24  Ashwagandha  3612.28            34384.93
8  2020-03-02  Ashwagandha  5931.04            40315.97
9  2020-03-09  Ashwagandha  7579.53            47895.50

In [235]:
# 29. Calculate difference in units sold between days (LAG).
run_query(
"""--sql
select date, product_name, units_sold,
lag(units_sold, 1) over (
    partition by product_name
    order by date) as previous_unit_sold,
    units_sold - lag(units_sold, 1) over (
        partition by product_name
        order by date   
    ) as difference
from weekly_sales
order by product_name, date
""").head(10)

         date product_name  units_sold  previous_unit_sold  difference
0  2020-01-06  Ashwagandha         181                 NaN         NaN
1  2020-01-13  Ashwagandha         133               181.0       -48.0
2  2020-01-20  Ashwagandha         156               133.0        23.0
3  2020-01-27  Ashwagandha         174               156.0        18.0
4  2020-02-03  Ashwagandha         135               174.0       -39.0
5  2020-02-10  Ashwagandha         132               135.0        -3.0
6  2020-02-17  Ashwagandha         141               132.0         9.0
7  2020-02-24  Ashwagandha         133               141.0        -8.0
8  2020-03-02  Ashwagandha         152               133.0        19.0
9  2020-03-09  Ashwagandha         159               152.0         7.0

In [238]:
# 30. Show moving 3-day average of revenue (window frame).
run_query(
"""--sql
select product_name, date, revenue, 
avg(revenue) over (
        partition by product_name
        order by date 
        rows between
        2 preceding and current row
) as 3_days_average
from weekly_sales
order by product_name, date
""")

     product_name        date  revenue  3_days_average
0     Ashwagandha  2020-01-06  2803.69     2803.690000
1     Ashwagandha  2020-01-13  7228.55     5016.120000
2     Ashwagandha  2020-01-20  3664.44     4565.560000
3     Ashwagandha  2020-01-27  5383.56     5425.516667
4     Ashwagandha  2020-02-03  2593.35     3880.450000
...           ...         ...      ...             ...
4379         Zinc  2025-03-03  1532.67     3673.553333
4380         Zinc  2025-03-10  8699.46     4251.216667
4381         Zinc  2025-03-17  2207.52     4146.550000
4382         Zinc  2025-03-24  3652.50     4853.160000
4383         Zinc  2025-03-31  3450.09     3103.370000

[4384 rows x 4 columns]

In [241]:
# 31. JOIN with product_info to show supplier name.
run_query(
"""--sql
select ws.product_name, p.supplier_name
from weekly_sales ws
join product_info p
on ws.product_name = p.product_name
""").head(10)

        product_name       supplier_name
0       Whey Protein         WellnessPro
1          Vitamin C       NutriMax Labs
2           Fish Oil     HealthCore Inc.
3       Multivitamin  VitaPlus Nutrition
4        Pre-Workout  VitaPlus Nutrition
5               BCAA       NutriMax Labs
6           Creatine    PureEssence Labs
7               Zinc       BioVita Corp.
8  Collagen Peptides     HealthCore Inc.
9          Magnesium  VitaPlus Nutrition

In [243]:
# 32. Get all products supplied by "HealthCore Inc.".
run_query(
"""--sql
select product_name
from product_info
where supplier_name = "HealthCore Inc."
""")

        product_name
0           Fish Oil
1  Collagen Peptides
2    Iron Supplement

In [257]:
# 33. Compare revenue with category benchmarks (JOIN a benchmarks table).
run_command(
"""--sql
CREATE TABLE category_benchmarks (
    category VARCHAR(100) PRIMARY KEY,
    benchmark_revenue DECIMAL(10,2)
);
"""
)

Query Executed Succesfully

In [259]:
run_command(
"""--sql
INSERT INTO category_benchmarks VALUES
('Protein', 50000),
('Vitamin', 30000),
('Mineral', 20000),
('Omega', 25000),
('Hydration', 15000),
('Performance', 40000),
('Amino Acid', 18000);
"""
)

Query Executed Succesfully

In [ ]:
# 34. Use a CTE to calculate return rate + show top 5 products.
run_query(
"""--sql

""").head(10)

In [ ]:
# 35. Show products whose units sold > category average.
run_query(
"""--sql

""").head(10)

In [ ]:
# 36. Find max revenue product per location with subquery.
run_query(
"""--sql

""").head(10)

In [ ]:
# 37. Select records where price > average for that product’s category.
run_query(
"""--sql

""").head(10)